* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;

}
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/* creating font and color styling for header portion of page*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* styling for main company logo*/
.header h1 {
    display: inline-block;
    font-size: 48px;
    color: #d9dcd6;
}
/* creating location area and font styling for header links*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}
/* organizing header links */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* pulling and orginizing main image to completed page*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* directing position of image on page*/
.float-left {
    float: left;
    margin-right: 25px;
}
/* directing position of image on page*/
.float-right {
    float: right;
    margin-left: 25px;
}
/* establishing size, organization and location of parent class*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* creating clean division between articles*/
#search-engine-optimization {
    margin-bottom: 20px;
}

#online-reputation-management {
    margin-bottom: 20px;
}

#social-media-marketing {
    margin-bottom: 20px;
}
.info {
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* setting height boundaries for content class photo's*/
.content img {
    max-height: 200px;
   
}
/*establishing font-size and margin for paragraphs inside parent class*/
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*creating a more attractive secondary type information section*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
}
/******* ensuring a more fluent and clean break between segments******/
.benefit-lead {
    margin-bottom: 32px;
}

.benefit-brand {
    margin-bottom: 32px;
}

.benefit-cost {
    margin-bottom: 32px;
/*************  *****************************/
}
/**** aligning descriptive titles for all benefits*****/
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*arranging photo's for benefits class*/
.benefits img {
    
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* copyright*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
